* {
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #ebebeb;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
main{
    grid-area: m;
}
aside{
    grid-area: a;
}
footer{
    grid-area: f;
}
header{      
    color: #0d426d;
    background-image: url(./image/smile.jpg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: auto 100%;
    padding: 0.5em 0 0.5em 5em;
}
main, aside {
    color: #111111;
    padding: 0.5em 0.5em 1em 0.5em;
}

aside{
    display: none;
}
footer {
    background-color: #e69d8b;
    color: #0d426d;
    font-size: 70%;
    text-align: center;
    padding: 0.5em 0;
}
img {
    padding: 0.5em;
}
aside img{
    max-width: 80%;
    height: auto;
    padding: 0em;
}
nav ul {
    background-color: #054b4b;
    list-style-type: none;
    padding-left: 0;
    border-top: 1px solid #eeeeee;
}
nav li {
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
nav a {
    color: #ffffff;
    text-decoration: none;
    transition-duration: 100ms;
}
nav a:hover {
    font-weight: bold;
    text-decoration:underline;
}
#wrapper{
    min-width: 344px;
    color: #ffffff;    
    display: grid;
    grid-template: 
        "h "
        "n "
        "m "
        "f ";
}        
h2 {
    color: #696969;
}
header,
nav,
main,
footer {
    display: block;
}
.ProductList {
    margin: 0 -10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}
.ProductList .item{
    width: 100%;
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
}
.ProductList dt {
    padding: 0 20px;
    margin-bottom: 5px;
    background-color: #e2d8dc;
    color:#052e41;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.ProductList img {
    width: 100%;
    height: 100%;
}
.ProductList dl {
    height: 100%;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.global-header {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
}
table,
td {
  border: 1px solid #999;
  border-collapse: collapse;
}
.multitables {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}

.multitables .item{
    width: 100%;
    margin: 10px 0;
    text-align: left;
}
.multitables img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
@media (min-width: 768px) {
    #wrapper {
        grid-template:
        " h   h "
        " n   n "
        " m   m "
        " f   f "
        / 75% 25%;
    }

    aside{
        display: none;
    }
    .ProductList .item{
        width: 50%;
    }
    .ProductList img {
        width: 350px;
        height: 350px;
    }
    .multitables .item{
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .global-header {
        position: relative;
    }
    nav ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    nav li {
        min-width: 5em;
        border-bottom: 1px solid #eeeeee;
    }   
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        grid-template:
        " h   h "
        " n   m "
        " f   f "
        / 20% 80%;
    }
    .ProductList .item{
        width: 33%;
    }
    .ProductList img {
        width: 250px;
        height: 250px;
    }
    nav {
        margin: 0 10px 0 0;
        top: 0;
        height: 40px;
        position: sticky;
        
    }
    aside{
        display: none;
    }
    .multitables .item{
        width: 50%;
    }
}